.Options {
  margin: 100px 0 24px;
  padding-top: 30px;
  &__Preview {
    width: 100%;
    background-color: #fff;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 30px 16px;
    margin-bottom: 24px;
    position: relative;
    z-index: -2;
  }

  &__PreviewText {
    font-size: 19px;
    font-weight: 600;
  }

  &__Opt {
    background-color: #fff;
    box-sizing: border-box;
    width: 100%;
    padding: 30px 16px;
    position: relative;
  }

  &__Img {
    position: absolute;
    top: -110px;
    right: 0;
    z-index: -1;
  }
}
