@import "./styles/font.scss";

ul,
li,
h1,
h2,
h3,
p,
input,
body,
header,
html {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Cera", serif;
  font-weight: 500;
  font-size: 14px;
  scroll-behavior: smooth;
  background-color: #f4f4f4;
  color: #010101;
}

.container {
  width: 375px;
  padding: 0 1rem;
  box-sizing: border-box;
  margin: 0 auto;
}
